<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/Layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container my-3">
			<h3 th:text="MYPAGE"></h3> <!-- 인가:권한 -->
			<div class="alert alert-danger" sec:authorize="hasRole('ADMIN')">ADMIN ROLE</div>
			<div class="alert alert-info" sec:authorize="hasRole('MEMBER')">MEMBER ROLE</div>
			<hr/>
			<div class="alert alert-info" sec:authentication="principal"></div> <!-- 인증:신원확인 -->
			<div class="alert alert-info" sec:authentication="principal"></div> <!-- 인증:신원확인 -->
			<div class="alert alert-info" sec:authentication="principal.authorities"></div> <!-- 인증:신원확인 -->
			<div class="alert alert-info" sec:authentication="principal.username"></div> <!-- 인증:신원확인 -->
		</div>
	</div>
</body>
</html>