@charset "UTF-8";

.main-grid {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 20px;
}

.right-box {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.popular-board table {
	width: 100%;
}

.popular-board table tr {
	border-bottom: 1px solid #dee2e6;
}

.popular-board table td {
	padding: 8px;
}

.popular-board-title {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 10px;
}